@import 'header';
@import 'variables';
@import 'main';
@import 'footer';
@import 'items';
@import 'botones';

body {
    background: url(../images/DnDWallpaperPHB.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 200%;
    color: $text-color
}

.title__card {
    background: $bg-color;
    border-radius: 50%;
    font-family: $main-text;
    font-weight: 700;
}
